<nav class="navbar navbar-dark bg-dark alig-items-center">
  <div class="col-md-12">
    <h1 class="text-center text-white">My Locker Application</h1>
  </div>
</nav>

<div class="container-lg pt-5">
  <div class="row">
      <div class="col-md-3">
        <app-new-funcionario></app-new-funcionario>
      
      </div>
      <div class="col-md-9">
        <app-funcionarios></app-funcionarios>
      </div>
  </div>
</div>

<div class="container-lg pt-5">
  <div class="row">
      <div class="col-md-3">
        <app-new-locker></app-new-locker>
      
      </div>
      <div class="col-md-9">
        <app-locker></app-locker>
      </div>
  </div>
</div>

